<!DOCTYPE html>
<html>
<head>
  <title>Student Data</title>
</head>
<body>
  <center>
    <h1>Oops</h1>
    <h3>Something wrong, please use this <a href="/">link</a> to go to homepage.</h3>
    <p><%=err.err%></p>   
  </center>
</body>
</html>