<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="masthead">
    <h1>User Game Database</h1>
    <nav>
      <a href="/user_game">User List</a>
    </nav>
  </div>
</body>
</html>